table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

mat-button-toggle-group, button {
  border: none;
}

.mat-button-toggle-checked {
  background-color: white !important;
}


h1 {
  margin-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.header {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}

.buttonUser {
  margin-top: 10px;
}

.container-menu{
  min-width: 180px;
}

.radio-group {
  width: 50px;
}

.radio-group div {
  display: block;
  margin: 15px 0;
}

.phone-column {
  width: 10%;
}

.address-column {
  width: 50%;
}