::ng-deep body {
    background: linear-gradient(129deg, #e0fce6 0%, #d8fdff 50%, #e7e0ff 100%);
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .button{
    text-align: center;
  }

  .card-body{
    margin-top: 20%;
  }
