<div class="container">
    <h1 class="text-center">Bem-vindo ao SaleSavvy - Seu gerenciador de estoque e vendas</h1>
    <p class="lead text-center">Gerencie suas vendas e estoque de forma eficiente e eficaz.</p>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vendas</h5>
                    <p class="card-text">Comece a incluir suas vendas.</p>
                    <a href="#" class="btn btn-primary">Acesse agora</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Gerencie seus clientes de forma eficiente.</p>
                    <a href="#" class="btn btn-primary">Acesse agora</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Estoque</h5>
                    <p class="card-text">Mantenha seu estoque sempre atualizado.</p>
                    <a href="#" class="btn btn-primary">Acesse agora</a>
                </div>
            </div>
        </div>
    </div>
</div>