<div class="container">
    <h1 class="text-center">Bem-vindo ao SaleSavvy - Seu gerenciador de estoque e vendas</h1>
    <p class="lead text-center">Gerencie suas vendas e estoque de forma eficiente e eficaz.</p>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vendas</h5>
                    <p class="card-text">Comece a incluir suas vendas.</p>
                    <a routerLink="/venda" class="btn btn-primary">Acesse agora</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Clientes</h5>
                    <p class="card-text">Gerencie seus clientes de forma eficiente.</p>
                    <a routerLink="/cliente" class="btn btn-primary">Acesse agora</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Estoque</h5>
                    <p class="card-text">Mantenha seu estoque sempre atualizado.</p>
                    <a routerLink="/estoque" class="btn btn-primary">Acesse agora</a>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="text-dashboard">
        <h2>Dashboard</h2>
    </div>
    <div class="container-Chart">
        <div class="report-1">
            <canvas id="weekChart"></canvas>
        </div>
        <div class="report-2">
            <canvas id="salesChart"></canvas>
        </div>
    </div>
</div>