<div class="modal-content">
  <h2 mat-dialog-title>Editar Usuario</h2>
  <hr>
  <form (ngSubmit)="submit()" [formGroup]="usuarioForm" #formDir="ngForm">

    <mat-form-field class="inputs">
      <mat-label>Nome: </mat-label>
      <input matInput type="text" [(ngModel)]="user.Name" name="name" formControlName="name">
      <button *ngIf="user.Name" matSuffix mat-icon-button aria-label="Clear" (click)="user.Name=''">
        <mat-icon>close</mat-icon>
      </button>
      <div class="text-danger ms-2 mt-1" *ngIf="name.invalid && formDir.submitted">
        <p>Nome Invalido!</p>
      </div>
    </mat-form-field>

    <mat-form-field class="inputs">
      <mat-label>Email: </mat-label>
      <input matInput type="email" [(ngModel)]="user.Email" name="email" formControlName="email">
      <button *ngIf="user.Email" matSuffix mat-icon-button aria-label="Clear" (click)="user.Email=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="inputs">
      <mat-label>Senha: </mat-label>
      <input matInput type="password" [(ngModel)]="user.Password" name="senha" formControlName="senha">
      <button *ngIf="user.Password" matSuffix mat-icon-button aria-label="Clear" (click)="user.Password=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="inputs">
      <mat-label>Confirme a Senha: </mat-label>
      <input matInput type="password" [(ngModel)]="confirmSenha" name="senha2" formControlName="senha2">
      <button *ngIf="confirmSenha" matSuffix mat-icon-button aria-label="Clear" (click)="confirmSenha=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="text-danger ms-2 mt-1" *ngIf="usuarioForm.get('senha')!.value !== usuarioForm.get('senha2')!.value">
      <p>As senhas não coincidem</p>
    </div>

  </form>
  <div mat-dialog-actions class="button">
    <button mat-button (click)="FecharModal()">Fechar</button>
    <button type="submit" mat-button cdkFocusInitial (click)="submit()">Atualizar cadastro</button>
  </div>
</div>
