<div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="top">
          <h1>CADASTRAR PRODUTOS</h1>
            <a routerLink="/estoque" mat-flat-button color="primary" class="buttonUser">ESTOQUE</a>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="header">
            <form (ngSubmit)="submit()" [formGroup]="productForm" #formDir="ngForm">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Name" id="name" name="name" formControlName="name">
                <label for="floatingInput">Nome</label>
                <div class="text-danger ms-2 mt-1" *ngIf="name.invalid && formDir.submitted">
                  <p>Nome Invalido!</p>
                </div>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="description" placeholder="example" id="description" name="description" formControlName="description">
                <label for="floatingInput">Descrição</label>
                <div class="text-danger ms-2 mt-1" *ngIf="description.invalid && formDir.submitted">
                  <p>Descrição invalida</p>
                </div>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="price" placeholder="Valor" name="price" formControlName="price" step="1" appCurrencyFormatter>
                <label for="floatingPassword">Preço</label>
                <div class="text-danger ms-2 mt-1" *ngIf="price.invalid && formDir.submitted">
                  <p>Preço invalida</p>
                </div>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="quantity" placeholder="Quantidade" name="quantity" formControlName="quantity" inputmode="numeric"
                (input)="onInputChange($event)">
                <label for="floatingPassword">Quantidade</label>
                <div class="text-danger ms-2 mt-1" *ngIf="quantity.invalid && formDir.submitted">
                  <p>Valor invalido coincidem</p>
                </div>
              </div>
              <div class="form-floating mt-4">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>