<mat-card class="card" >
    <mat-card-content class="card-content">
        <button mat-stroked-button color="primary" (click)="ModalAddClient()">Localizar Cliente</button>
        <div class="viewclient">
            <mat-card class="inner-card" *ngIf="client">
                <mat-card-header>
                    <mat-card-title>Informações do Cliente</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content >
                    <div class="info">
                        <div class="item">
                            <p><strong>Nome:</strong> {{client.Name}} </p>
                        </div>
                        <div class="item">
                            <p><strong>Email:</strong> Rikelme.sivla@gmail.com</p>
                        </div>
                        <div class="item">
                            <p><strong>Telefone:</strong> (11)98931-2399</p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="endereco">
                        <div class="item">
                            <p><strong>Endereço:</strong> Rua Glycerio Almeida</p>
                        </div>
                        <div class="item">
                            <p><strong>CEP:</strong> 04433-020</p>
                        </div>
                        <div class="item">
                            <p><strong>Bairro:</strong> JD.Itapura</p>
                        </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="endereco2">
                        <div class="item">
                            <p><strong>Cidade:</strong> São Paulo</p>
                        </div>
                        <div class="item">
                            <p><strong>Estado:</strong> SP</p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>

