<mat-card class="card" >
    <mat-card-content class="card-content">
        <button mat-stroked-button color="primary" (click)="ModalAddClient()">Localizar Cliente</button>
        <div class="viewclient">
            <mat-card class="inner-card" *ngIf="client">
                <mat-card-header>
                    <mat-card-title>Informações do Cliente</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content >
                    <div class="info">
                        <div class="item">
                            <p><strong>Nome:</strong> {{client.Name}}</p> </div>
                        <div class="item">
                            <p><strong>Email:</strong> {{client.Email}}</p> </div>
                        <div class="item">
                            <p><strong>Telefone:</strong> {{client.Phone}}</p> </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="endereco">
                        <div class="item">
                            <p><strong>Endereço:</strong> {{client.Address.Street}}</p> </div>
                        <div class="item">
                            <p><strong>CEP:</strong> {{client.Address.Code}}</p> </div>
                        <div class="item">
                            <p><strong>Bairro:</strong> {{client.Address.District}}</p> </div>
                    </div>
                    <mat-divider></mat-divider>
                    <div class="endereco2">
                        <div class="item">
                            <p><strong>Cidade:</strong> {{client.Address.City}}</p> </div>
                        <div class="item">
                            <p><strong>Estado:</strong> {{client.Address.State}}</p> </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-card-content>
</mat-card>
