<mat-card>
    <mat-card-content>
        <form>
            <h4>Forma de pagamento</h4>
            <div class="form-field-group">
                <mat-form-field class="form-field">
                    <mat-label>Tipos de Pagamentos</mat-label>
                    <mat-select [formControl]="paymentControl" (selectionChange)="verifyPayment()" required>
                        <mat-option *ngFor="let payment of viewsPayments" [value]="payment">
                            {{payment.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="paymentControl.hasError('required')">Por favor escolha uma forma de
                        pagamento</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="optionParcel" class="form-field">
                    <mat-label>Parcela: </mat-label>
                    <mat-select disableRipple [formControl]="parcelControl">
                        <mat-option *ngFor="let parcela of parcelas" [value]="parcela">{{ parcela }}x</mat-option>
                    </mat-select>
                    <mat-error *ngIf="parcelControl.hasError('required')">Por favor escolha uma forma de
                        pagamento</mat-error>
                    <mat-hint>Valor Parcela: {{getParcelValue() | currency:'BRL'}}</mat-hint>
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary" (click)="finalizePurchase()">Finalizar Pedido</button>
        </form>

    </mat-card-content>
</mat-card>
