<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Botao-menu" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Menu</span>
  <span class="example-spacer"></span>
  <span>{{nome}}</span>
  <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with share icon">
    <mat-icon svgIcon="icon-user"></mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="deslogar()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Sair</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

   <a routerLink="/"><button (click)="showFiller = !showFiller" mat-raised-button class="botao-nav">
      <mat-icon aria-hidden="false" aria-label="Exemplo de ícone de página inicial" fontIcon="home"></mat-icon>
      Home
    </button><br></a>
    <a routerLink="/venda"><button (click)="showFiller = !showFiller" mat-raised-button class="botao-nav">
        <mat-icon svgIcon="icon-vendas" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        Vendas
      </button></a><br>
    <a routerLink="/estoque"><button (click)="showFiller = !showFiller" mat-raised-button class="botao-nav">
        <mat-icon svgIcon="icon-estoque" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        Estoque
      </button></a><br>
    <div *ngIf="isAdmin == 'True' ">
      <a routerLink="/cliente"><button (click)="showFiller = !showFiller" mat-raised-button class="botao-nav">
          <mat-icon svgIcon="icon-client" aria-hidden="false" aria-label="Menu lista de usuario"></mat-icon>
          Clientes
        </button></a><br>
    </div>
    <div *ngIf="isAdmin == 'True' ">
      <a routerLink="/usuario"><button (click)="showFiller = !showFiller" mat-raised-button class="botao-nav">
          <mat-icon svgIcon="icon-usuario" aria-hidden="false" aria-label="Menu lista de usuario"></mat-icon>
          Usuarios
        </button></a><br>
    </div>
    <a routerLink="/relatorio"><button (click)="showFiller = !showFiller" mat-raised-button class="botao-nav">
        <mat-icon svgIcon="icon-report" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        Relatorio
      </button></a><br>

  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>