<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Botao-menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Menu</span>
    <span class="example-spacer"></span>
    <span>Rikelmi Alves</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon svgIcon="icon-user"></mat-icon>
    </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <button (click)="showFiller = !showFiller" mat-raised-button>
        <mat-icon  aria-hidden = "false"  aria-label = "Exemplo de ícone de página inicial"  fontIcon = "home"></mat-icon>
        Home
      </button><br>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        <mat-icon svgIcon="icon-vendas" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        Vendas
      </button><br>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        <mat-icon svgIcon="icon-estoque" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        Estoque
      </button><br>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        <mat-icon svgIcon="icon-usuario" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        Usuarios
      </button><br>
    </mat-drawer>
        <app-messages></app-messages>
        <router-outlet></router-outlet>    
  </mat-drawer-container>