<div class="container">
  
    <div class="row">
      
      <div class="col-md-6 mx-auto">
        <div class="top">
          <h1>CADASTRAR CLIENTES</h1>
            <a routerLink="/usuario" mat-flat-button color="primary" class="buttonUser">LISTA DE CLIENTES</a>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="header">
            <form (ngSubmit)="submit()" [formGroup]="usuarioForm" #formDir="ngForm">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Name" id="name" name="name" formControlName="name">
                <label for="floatingInput">Nome</label>
                <div class="text-danger ms-2 mt-1" *ngIf="name.invalid && formDir.submitted">
                  <p>Nome Invalido!</p>
                </div>
              </div>
              
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="phone" placeholder="name@example.com" id="phone" name="phone" formControlName="phone">
                <label for="floatingInput">Telefone</label>
                <div class="text-danger ms-2 mt-1" *ngIf="email.invalid && formDir.submitted">
                  <p>Telefone invalido</p>
                </div>
              </div>


              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="name@example.com" id="email" name="email" formControlName="email">
                <label for="floatingInput">Email</label>
                <div class="text-danger ms-2 mt-1" *ngIf="email.invalid && formDir.submitted">
                  <p>Email invalido</p>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="phone" placeholder="name@example.com" id="phone" name="phone" formControlName="phone">
                <label for="floatingInput">Endereço</label>
                <div class="text-danger ms-2 mt-1" *ngIf="email.invalid && formDir.submitted">
                  <p>Telefone invalido</p>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="phone" placeholder="name@example.com" id="phone" name="phone" formControlName="phone">
                <label for="floatingInput">Numero:</label>
                <div class="text-danger ms-2 mt-1" *ngIf="email.invalid && formDir.submitted">
                  <p>Numero invalido</p>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="phone" placeholder="name@example.com" id="phone" name="phone" formControlName="phone">
                <label for="floatingInput">CEP:</label>
                <div class="text-danger ms-2 mt-1" *ngIf="email.invalid && formDir.submitted">
                  <p>CEP invalido</p>
                </div>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="senha" placeholder="Senha" name="senha" formControlName="senha">
                <label for="floatingPassword">Bairro</label>
                <div class="text-danger ms-2 mt-1" *ngIf="senha.invalid && formDir.submitted">
                  <p>Senha invalida</p>
                </div>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="senha2" placeholder="Senha" name="senha2" formControlName="senha2">
                <label for="floatingPassword">Cidade</label>
                <div class="text-danger ms-2 mt-1" *ngIf="usuarioForm.get('senha')!.value !== usuarioForm.get('senha2')!.value && formDir.submitted">
                  <p>As senhas não coincidem</p>
                </div>
              </div>
              <div class="form-floating mt-4">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
